<!DOCTYPE html>
<html>
<head>
    <title>To-do List</title>
    

    <link rel="stylesheet" href="../static/stylesheets/base.css">
	<link rel="stylesheet" href="../static/stylesheets/skeleton.css">
	<link rel="stylesheet" href="../static/stylesheets/layout.css">
	    <!-- link to css file -->
    <link rel="stylesheet" type="text/css" href="../static/_css/style.css" />


    <!-- link to javascript files -->
    <script src="../static/_js/jquery-1.10.2.min.js"></script>
    <script src="../static/_js/script.js"></script>    
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

</head>
<body>
		<div class="container">

			<div class="row">
				<div class="five columns alpha header">
					<h1 class="remove-bottom">To-do List</h1>
					<h5>leveraging Skeleton CSS</h5>
					<hr />
				</div>
				<div class="seven columns omega">
					<blockquote>
						<p>Keepin' track of stuffs</p>
					</blockquote>
				</div>
			</div>
			
			<!-- form to add an item to the list -->
			
			<!-- the to-do list -->
			<div class="nine columns alpha list">
				<ul id="todo-list">
				    <li>Set the <code>title</code> tag <button class="todo-list-remove">remove</button></li>
				    <li>Make the columns wider <button class="todo-list-remove">remove</button></li>
				    <li>Add various styles to create visual hierarchy <button class="todo-list-remove">remove</button></li>

				    <!-- Can we use JINJA TEMPLATES to loop through the returned array? -->
				    <!-- http://jinja.pocoo.org/2/documentation/templates -->
				    {% if todos[0] %}
				    	<li><span class="todo-title">{{ todos[0]['title'] }}</span><span class="todo-due">{{ todos[0]['due'] }}</span><button class="todo-list-remove">remove</button></li>
				    {% endif %}
				</ul>
			</div>
			<div class="three columns omega">
				<form id="todo-form">
					    <input id="todo-form-text" type="text" placeholder="New item">
					    <input id="todo-form-due"  type="text" size="10">
						<input type="submit" value="Add">
				</form> 
			</div>

			

	</div><!-- container -->

</body>
</html>